:root {
    --header-background: #2c2c2c;
    --header-color: #fff;
    --red: #f21d42;
    --grey: rgba(210, 210, 208, 0.6);
    --dark-grey: rgba(128, 128, 128, 0.8);
    --purple: #be2ed6;
    --purple-ligth: #ca5cdd;
    --blue: #9bc5f8;
    --blue-ligth: #b4d4fa;
    --blue-very-ligth: #e6f1fd;
}